body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHJ0Kc4blgl0qwVDf81XzkZOydt-hNaoboRg&usqp=CAU");
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    font-family: 'The Nautigal', cursive;
    letter-spacing: 3px;
    background-color: white;
    width: 50%;
    border-radius: 15px;

}

#camera{
    border: 5px dashed black;
}